.navbar-default {
  background-color: transparent;
  border: 0;
  font-size: 15pt;
}
.navbar-default .navbar-brand {
  color: #dedede;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #dedede;
}
.navbar-default .navbar-nav > li > a {
  color: #dedede;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3c3c3c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3c3c3c;
}
.navbar-default .navbar-toggle {
  border-color: #3c3c3c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3c3c3c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #dedede;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #dedede;
}
.navbar-default .navbar-link {
  color: #dedede;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .navbar-left {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dedede;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3c3c3c;
  }
}
.navbar-default.past-main {
  background-color: #fff;
  color: #444;
}
