@font-face {
  font-family: "Nexa-Bold";
  src: url(../fonts/Nexa-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Nexa-Light";
  src: url(../fonts/Nexa-Light.otf) format("opentype");
}
body {
  position: relative;
  font-family: "Nexa-Light", Verdana, Tahoma;
}
.navbar-brand {
  font-family: "Nexa-Bold", Verdana, Tahoma;
  font-size: 18pt;
}
#top-bg {
  background: url(../images/yeomansbg2blur.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  z-index: -1;
  color: white;
  text-shadow: black 0.5em 0.5em 0.7em;
}
.intro-fixed {
  position: fixed;
  color: white;
  width: 100%;
  z-index: 0;
  top: 10%;
  left: 40;
  padding-top: 270px;
  text-align: center;
  text-shadow: black 0.5em 0.5em 0.7em;
}
.intro-rel {
  position: relative;
  color: white;
  width: 100%;
  z-index: 1;
  margin-top: -80px;
  padding: 0 !important;
  text-align: center;
  text-shadow: black 0.5em 0.5em 0.7em;
}
@media (max-width: 675px) {
  #intro h1 {
    font-size: 22pt !important;
    position: absolute;
    top: 5%;
  }
}
#intro h1 {
  font-size: 31pt;
  padding: 0;
}
#main-contain {
  background: #fff !important;
  width: 100%;
  height: 100%;
  l box-shadow: black 0 0 100px;
}
.heading {
  padding-top: 110px;
  padding-bottom: 50px;
}
.bord-right {
  border-right: 1px solid #ddd;
}
.xpline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
}
.row {
  margin: 0;
  padding: 0;
}
.thumbnail-buttons {
  position: relative;
  bottom: 0;
}
.form-control {
  margin-bottom: 15px;
}
#footer {
  height: 30px;
}
#footline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  margin-top: 50px;
  padding: 0;
}
